html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, DarkCyan 50%, #8B0000 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #008B8B;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

/*this will apply the style to all items with the class item except it will inly apply this
style to the last child of the  html component with class item but the last one in the seris
 */
.item:last-child {
  border-bottom: 0;
}

/*this will apply the css to all the inputs with the type that is checked and will apply it
to all the p elements right immediateltly right after the div element */
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #008B8B;
}

/*this will apply thee css to all the elements with the input of type="checkbox" */
input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #008B8B;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

/* this will apply the css to all input with type="text"*/
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #008B8B;
}

/*this just targets the atttribute called placeHolder and appliues the styling to it */
::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
